body.home h1 {
	text-transform: lowercase;
	font-family: 'Share Tech Mono', monospace;
	font-size: 300%;
}

.home-social {
	margin-top: 20px;
}

body.home {
	.content {
		margin: 111px 0 0 0;

		h1 {
			line-height: 38px;
		}
	}
}
