$color-green: #78d18b;
$color-orange: #fd9353;
$color-bright: #706e73;
$color-white: white;

.dark-theme {
	.sharing-buttons svg,
	.home-social svg {
		color: $color-bright;
	}

	.footer__content span:nth-child(3) svg {
		color: $color-orange;
	}

	&.home h1,
	.header,
	.post-day,
	.post-year,
	.post-info,
	.pagination {
		color: $color-bright;
	}

	.post-content a {
		color: $color-white;
		text-decoration: none;
		border-bottom: 1px dotted $color-bright;

		&:hover {
			border-bottom: 1px solid $color-white;
		}
	}

	.post-item {
		border-bottom-color: $color-bright;
	}
}
